<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../vue.global.js"></script>
</head>
<body>
    <h1>양방향 바인딩</h1>
    데이터명과 입력정보가 동시에 연동되는 구조<br>
    <div id ="app" >
        <!--<input v-model=”데이터명”/>-->
        <input type="text" v-model="message"/>
        <div>
            입력한 내용={{ message }}
        </div>
    </div>
    <script>
        const {createApp} = Vue;
        createApp({
            data(){
                return{message : "내용없음"}
            }
        }).mount("#app");
    
    </script>
</body>
</html>